@media screen and (min-width: 60rem) {
  /*--------------------- Semantic Styles ---------------------*/

  /*--------------------- Header Styles ---------------------*/

  /*--------------------- Nav Styles ---------------------*/
  nav ul li a  {
    font-size: 1.2em;
  }

  /*--------------------- Main Styles ---------------------*/
  main {
    width: 60%;
    margin: 0 auto;
  }
  /*--------------------- Footer Styles ---------------------*/

  /*--------------------- Class Styles ---------------------*/
  .logo {
    width: 150px;
  }

  /*--------------------- ID Styles ---------------------*/
  #primaryNav {
    width: 60%;
  }

}