@media screen and (min-width: 47rem) {

  /*--------------------- Semantic Styles ---------------------*/
  form {
    width: 80%;
  }

  input {
    max-width: 70%;
  }

  textarea {
    width: 70%;
  }

  /*--------------------- Header Styles ---------------------*/


  /*--------------------- Nav Styles ---------------------*/
  nav ul li a {
    border: none;
  }

  nav ul li:nth-child(even) {
    border: none;
  }

  /*--------------------- Main Styles ---------------------*/


  /*--------------------- Footer Styles ---------------------*/
  footer {
    flex-direction: row;
  }

  /*--------------------- Class Styles ---------------------*/
  .breakRowNav {
    display: none;
  }

  .rowImg {
    width: 40%;
  }

  .rowContent {
    width: 60%;
  }

  .rowContent button {
    font-size: 20pt;
  }

  /*--------------------- ID Styles ---------------------*/
  #hero div {
    font-size: 2rem;
  }

  #navBtn {
    display: none;
  }

  #primaryNav {
    display: flex;
    flex-flow: row nowrap;
    width: 70%;
  }

  #forecasts {
    flex-flow: row wrap;
  }

  #forecasts div:nth-child(even) {
    border: none;
  }

  #forecasts div {
    margin: 0 .8rem;
  }

  #orderDetails {
    width: 80%;
    margin: 0 auto;
  }
}